<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <h1 class="check_in_title">Check In</h1>
    <form class="check_in_form" action="/new" method="post">
      <p>What's your name?</p>
      <input type="text" name="name" />

      <p>Tell us about yourself🥰</p>
      <input type="text" name="description" />

      <p>Create your own password</p>
      <input type="text" name="password" /><br />
      <button class="check_in_button" type="submit">Add</button>
    </form>
  </body>
</html>
